[submodule "sparql-llm"]
	path = sparql-llm
	url = https://github.com/sib-swiss/sparql-llm.git
[submodule "llama-cpp-agent"]
	path = llama-cpp-agent
	url = git@github.com:Dakantz/llama-cpp-agent.git
[submodule "rdflib"]
	path = rdflib
	url = git@github.com:RDFLib/rdflib.git
