@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}



nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.node_normal {
  fill: #ccc;
}

.node_added {
  fill: var(--vt-c-green-strong);
  stroke-dasharray: 10, 2, 10, 2;
}

.node_removed {
  fill: #f26c6c;
  stroke-dasharray: 10, 4, 10, 4;
}

.node_changed {
  fill: #bbd8ff;
  stroke-dasharray: 10, 1, 10, 1;
}