version: "3"
services:
  db:
    build: ./pg-vec-geo
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5434:5432"
    volumes:
      - ./pg-data/pg-data:/var/lib/postgresql/data
  # nominatim:
  #   image: mediagis/nominatim:4.4
  #   restart: always
  #   environment:
  #     - PBF_URL=https://download.geofabrik.de/europe-latest.osm.pbf
  #     - IMPORT_STYLE=admin
  #   ports:
  #     - "8022:8080"
  #   volumes:
  #     - ./nominatim-data/pg:/var/lib/postgresql/14/main
  #     - ./nominatim-data/flatnode:/nominatim/flatnode
  pgadmin:
    image: dpage/pgadmin4:8.4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: docker@va-tu.at
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "10002:80"
    volumes:
      - ./servers.json:/pgadmin4/servers.json # preconfigured servers/connections
      - ./pgpass:/pgpass # passwords for the connections in this file
      # - ./pg-admin-data:/var/lib/pgadmin
    links:
      - "db:pgsql-server"
  redis:
    image: redis/redis-stack
    restart: always
    ports:
      - "6379:6379"
      - 8005:8001
    #TODO: qlever in compose
    # graphdb:
    #   image: ontotext/graphdb:10.8.0
    #   restart: always
    #   ports:
    #     - "7200:7200"
    #   volumes:
    #     - ./graphdb-import:/root/graphdb-import
    #     - ./graphdb-data:/opt/graphdb/home
    # fuseki:
    #   image: stain/jena-fuseki
    #   restart: always
    #   environment:
    #     - TDB=2
    #     - ADMIN_PASSWORD=fuseki_dbpedia
    #     - JVM_ARGS=-Xmx16G
    #   ports:
    #     - "3030:3030"
    #   volumes:
    #     - ./fuseki-data:/fuseki
  # this DB is for sparql-llm reprocability
  sparql-llm-vectordb:
    # https://hub.docker.com/r/qdrant/qdrant/tags
    image: docker.io/qdrant/qdrant:v1.11.3
    # image: qdrant/qdrant:v1.9.2-unprivileged # Unprivileged don't work when mounting a volume
    restart: unless-stopped
    volumes:
      - ./qdrant:/qdrant/storage
      # - ./qdrant_config.yml:/qdrant/config/production.yaml
    environment:
      - QDRANT_ALLOW_RECOVERY_MODE=true
    ports:
      - 6333:6333
      - 6334:6334
    # command:
    #   - ./qdrant --config-path /qdrant/config/production.yaml
volumes:
  pg-data:
    external: false
